@model MySystem.ViewModels.Management.MainFunctionViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <!-- Contents -->
            <div class="col-md-12">
                @using (Html.BeginForm("MainFunctionPage", "Function", FormMethod.Post))
                {
                  <div class="btn-group">
                      @Html.DropDownListFor(m => m.Select_FunctionType, Model.Function_Select, new { @class = "form-control", onchange = "this.form.submit();" })
                  </div>
                }
                <br><br>
                <table class="table table-hover table-bordered table-condensed">
                    <thead>
                        <tr class="info">
                            <th>主功能代號</th>
                            <th>主功能名稱</th>
                            <th>
                                <button id="CreatBtn" type="button" onclick="hide_tr()" class="btn btn-success btn-xs">
                                    <span id="CreatIcon" class="glyphicon glyphicon-plus"></span>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbTeams">
                        <tr id="CreatTr" style="display:none">
                            <td></td>
                            @using (Html.BeginForm("MainFunctionPage", "Function", FormMethod.Post))
                            {
                                <td>@Html.TextBoxFor(m => m.MainFunctionName, new { @class = "form-control" })</td>
                                <td>
                                    <button name="Active" type="submit" class="btn btn-success btn-sm" value="Add">新增</button>
                                </td>
                            }
                        </tr>
                        @if (Model.MainFunctionList != null && Model.MainFunctionList.Count > 0)
                        {
                            foreach (var data in Model.MainFunctionList)
                            {
                                using (Html.BeginForm("MainFunctionPage", "Function", FormMethod.Post))
                                {
                                    string normal = "normal" + Model.MainFunctionID;
                                    string ActionEdit = "ActionEdit" + Model.MainFunctionID;
                                    string UI = "UI" + Model.MainFunctionID;
                                    <tr>
                                        <td style="width:10%">@data.MainFunctionID @Html.Hidden("MainFunctionID", data.MainFunctionID)</td>
                                        <td style="width:auto">
                                            @data.MainFunctionName @Html.Hidden("MainFunctionName", data.MainFunctionName)
                                            <div id="@UI" style="display:none">
                                                @Html.TextBoxFor(m => m.MainFunctionName)
                                            </div>
                                        </td>
                                        <td id="@normal" style="width:15%">
                                            <button id="modal-Edit" href="#modal-container-Edit" role="button" data-toggle="modal" class="btn btn-warning btn-sm" onclick="Edit('@Model.MainFunctionID')">編輯</button>
                                            <button name="Active" type="submit" class="btn btn-danger btn-sm" value="Delete">刪除</button>
                                        </td>
                                        <td id="@ActionEdit" style="display:none;width:15%">
                                            <button name="Active" type="submit" class="btn btn-warning btn-sm" value="@("Edit,"+Model.MainFunctionID)">確定</button>
                                            <button type="button" class="btn btn-danger btn-sm" onclick="CancelEdit('@Model.MainFunctionID')">取消</button>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*編輯視窗*@
    <div class="row">
        <div class="col-md-12">
            <a id="modal-Edit" href="#modal-container-Edit" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

            <div class="modal fade" id="modal-container-Edit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                編輯主功能名稱
                            </h4>
                        </div>
                        <div class="modal-body">
                            主功能名稱：@Html.TextBoxFor(m => m.EditName)
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>



<script>
   function hide_tr() {
       var result_style = document.getElementById('CreatTr').style;
       result_style.display = 'table-row';
       
       var CreatIcon_style = document.getElementById('CreatIcon');
       CreatIcon_style.className = 'glyphicon glyphicon-minus';
       var CreatBtn_style = document.getElementById('CreatBtn');
       CreatBtn_style.onclick = function () {
           show_tr();
       };
   }
   function show_tr() {
       var result_style = document.getElementById('CreatTr').style;
       result_style.display = 'none';
       var CreatBtn_style = document.getElementById('CreatIcon');
       CreatBtn_style.className = 'glyphicon glyphicon-plus';
       var CreatBtn_style = document.getElementById('CreatBtn');
       CreatBtn_style.onclick = function () {
           hide_tr();
       };
   }
   $("#Select_FunctionType").on("change", function () {
       $("form").submit();
   });
   function Change()
   {
       window.location.href = ('@Url.Action("MainFunctionPage", "Function")');
   }
    function Edit(id)
    {
        var ActionEdit = "#ActionEdit" + id;
        var normal = "#normal" + id;
        var UI = "#UI" + id;
        $(ActionEdit).show();
        $(UI).show();
        $(normal).hide();
    }
    function CancelEdit(id) {
        var ActionEdit = "#ActionEdit" + id;
        var normal = "#normal" + id;
        var UI = "#UI" + id;
        $(ActionEdit).hide();
        $(UI).hide();
        $(normal).show();
    }
</script>